$dropzone-upload-status-icon-margin: $padding-y !default;
$upload-status-margin: 0 !default;
$file-name-margin: 0 !default;
$invalid-icon-margin: $padding-x-sm / 2 !default;

@import "~@progress/kendo-theme-default/scss/upload/layout";